<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
  <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42068302000189"
        style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
        <p>鄂公网安备 42068302000189号
        </p>
      </a>
    </div>
  </div>
</footer>